[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
primes = {path = ".", editable = true}
click = "*"

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
mkdocs = "*"
mypy = "*"
mkdocs-material = "*"
mkdocstrings = {extras = ["python"], version = "*"}
setuptools = "*"
wheel = "*"

[requires]
python_version = "3.12"
